<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <th>Topics</th>
        <table border="3px">
            <tr>
                <td>topic_name</td>
            </tr>
            {% for to in LTO %}
            <tr>
                <td>{{to.topic_name}}</td>
            </tr>
            {% endfor %}
        </table>

        
        
    </center>

</body>
</html>